/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

img{
	max-width: 100%;
}  


a{
	text-decoration: none;
	color: currentColor;
}

menu, ul, ol{
	list-style: none;
}

button{
    border: none;
}

/* LAYOUT */

#app{
    height: 100vh;
    width: 100vw;
    background-color: #DADBD7;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    
}

.container{
    height: 100%;
    width: 100%;
    background-color: #ef2727;
}

/* APP BODY */
 .app_body{
    min-height: 100%;
    max-width: 100%;
}

.contacts{
    flex-direction: column;
    justify-content: flex-start;
    background-color: aqua;
    min-height: 100%;
    display: none;
}

.contacts_notifications{
    background-color: hotpink;
}

.contacts_search{
    background-color: mediumseagreen;
}

.contacts_list{
    background-color: deeppink;
    flex-grow: 1;
}

.chat{
    flex-direction: column;
    justify-content: space-between;
    background-color: blue;
    min-height: 100%;
    flex-grow: 1;
}


.chat_header{
    background-color: blueviolet;
}

.chat_main{
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    background-color: brown;
    flex-grow: 1;
}

.chat_footer{
    background-color: chartreuse;
} 

.mesage1{
    width: 30%;
    height: 30%;
    background-color: aquamarine;
    
}

.mesage2{
    width: 30%;
    height: 30%;
    background-color: burlywood;
    
}

/* CONTACTS */
i{
    color: black;
}

.avatar_io img{
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
}

.contacts_header{
    background-color: #EAEAEA;
    justify-content: space-between;
    padding: 10px;
}


.contacts_header_nav{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contacts_header_nav i{
    color: #B0B0B0;
}

/* contact_card */
.contacts_notifications{
    justify-content: space-between;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.notification_content{
    flex-direction: column;
    
}

.avatar img{
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: block;
}

.contact_card{
    background-color: #FFFFFF;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #F5F5F5;
}

.name{
    font-weight: 700;
    font-size: 20px;
}

.mesage{
    font-size: 14px;
    color: #B9BBBC;
}

.time{
    align-self: flex-start;
    font-size: 14px;
    color: #B9BBBC;
}

@media (min-width: 576px){
   .contacts{
    display: flex;
   }

   .contact_info{
    display: none;
   }

   .time{
    display: none;
   }

   .contacts_header_nav{
    display: none;
   }

}

@media (min-width: 992px){
    #app{
        padding: 50px 0;
    }
    
    .container{
        width: 90%;
        margin: 0 auto;
    } 

    .contact_info{
        display: flex;
       }
    
       .time{
        display: flex;
       }
    
       .contacts_header_nav{
        display: flex;
       }
}